body {
    background-color: gray;
    color: black;
    padding: 0%;
    margin: 0%;
    font-family: "Alan Sans", sans-serif;
    text-align: center
;
}

#encabezado {
    background-color: white;
    border: 2px solid black;
    width: 80%;
    display: inline block;
    border-radius: 40%;
    box-shadow: 2px -8px 60px 41px rgba(120,103,103,0.92) inset;
-webkit-box-shadow: 2px -8px 60px 41px rgba(120,103,103,0.92) inset;
-moz-box-shadow: 2px -8px 60px 41px rgba(120,103,103,0.92) inset;
}